@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@700;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body text-charcoal bg-background;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #1A1A1A;
}
.font-heading {
  font-weight: 700;
  color: #1A1A1A;
}
